:80 {
    root * public/
    encode zstd gzip

    # Paksa semua variabel PHP menganggap ini HTTPS
    vars {
        protocol https
    }

    # Tambahkan header secara agresif
    header {
        X-Forwarded-Proto https
        X-Forwarded-Host {host}
        X-Forwarded-Port 443
    }

    php_server
}
